*{
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	font-family: 微軟正黑體;  
}

h1,h2,h3,h4,h5,h6,p,a{
	text-decoration: none;
}
h2{
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 32px;
}
span{
	width: 100%;
	display: block;
	height: 1px;
	background-color: #616161;
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
}
img{
	display: block;
}
a{
	text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrapper{
	width: 100%;
	height:100%;
	overflow-y: auto;
}
header{
	width: 90%;
	height: 348px;
	display: block;
	margin: 0 auto 32px auto;
}
header > span {
	display: block;
	width: 1px;
	height: 242px;
	background-color:#707070;
	margin: 0 16px 0 88px;
	float: left;
}
header >  nav {
	width: 10%;
	display: block;
	float: left;
}
header >  nav > ul {
	display:block; 
	margin-left: 5%;
	margin-top: 45%;
}
header >  nav > ul > li{
	display: block;
}
header > nav > ul > li > a{
	font-size: 18px;
	line-height: 44px;
	color: #707070;
}
header > .logo{
	position:absolute;
	bottom: 0; 
	right: 0;
	text-align: right;
}
header > .logo > h1 {
	background-image: url("../img/logo.png");
	width: 380px;
	height: 79px;
	text-align: right;
}
header > .logo > p {
	font-size: 20px;
	font-family: Slabo 27px;
	color: #616161;
	display: block;
	text-align: right;
}
.btn{
	width: 128px;
	height: 40px;	
	display: inline-block;	
	outline: 0;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	margin-top: 12px;
}
.btn.btn_red{
	background-color: #CC3433;
	color: #fff;
}
.btn.btn_white{
	background-color: #fff;
	color: #CC3433;
	border: 1px solid #CC3433;
}
.btn_group{
	width: 10%;
	margin-left: 5%;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.menu-toggle{
	display: none;
}
.popup{
	display: none;
}
main {
	width: 90%;
	height: auto;
	margin: 80px auto 56px auto;
}
section{
	display: block;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
}
section > .text {
	width: 25%;
	text-align: right;
	float: left;
	padding-right: 20px;
	padding-left: 80px;
}
.btn_line > a{
	color:#CC3433; 
	font-family: serif;
	font-size: 20px;
	font-weight: 600;
}
section > a{
	display: inline-block;
	width: 75%;
	overflow: hidden;
	float: right;
}
section > a > img {
	width: 100%;
	height: auto;
}
section > .text > .cover {
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 8%;
}
section > .text > .intro{
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 8%;
}
.Slabo_27px{
	font-family: 'Slabo 27px', serif;
	font-size: 40px;
	color: #616161;
	margin-bottom: 58%;
}
.date{
	font-size: 16px;
	line-height: 32px;
	color: #616161;
	margin-bottom: 58%;
}
.mobile_section{
	display: none;
}
/*-------------------------------------*/
article{
	background-color: #F5F8E9;
	width: 100%;
	height: auto;
	padding-bottom: 24px;
}
.mag{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 960px;
	margin-top: 56px;
	padding-top: 48px;
	padding-bottom: 48px;
}
.item{
	margin-right: 48px;
	width: 25%;
}
.item span{
	width: 100%;
	display: block;
	height: 1px;
	background-color: #616161;
	margin: 8px auto 8px auto;
}
.item:last-child{
	margin-right: 0;
}
.mag > .item > .Slabo_27px {
	margin-bottom: 16px;
	margin-top: 16px;
}
.mag > .item > .date_sm{
	color: #616161;
	font-size: 12px;
	margin-bottom: 8px;
}
.mag > .item > .imbox{
	width: 100%;
}
.mag > .item > .imbox > a{
	display: block;
}
.mag > .item > .imbox > a > img{
	width: 100%;
	height: 100%;
	display: block;
}
.mag_cover{
	font-size: 20px;
	line-height: 40px;
	font-weight: 800;
	margin-bottom: 16px;
	margin-top: 16px;
}
.mag_intro {
	width: 100%;
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 16px;
}
.mag > .item > .btn_line{
	text-align: right;
}
.center{
	clear: both;
	display: block;
	margin: 0 auto 40px auto;
}
.center a{
	width: 124px;
	height: 38px;	
	display: block;	
	outline: 0;
	text-align: center;
	font-size: 16px;
	line-height: 38px;
	margin: 30px auto 0 auto;
	background-color: #CC3433;
	color: #fff;
}
/*--------------------------------------------*/
.article{
	width: 90%;
	height: auto;
	margin: 80px auto 0 auto;
}
.article > h2{
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 16px;
}
.article_set{
	width: 100%;
	margin-top: 40px;
}
.article_set > .imgbox{
	width: 35%;
	float: left;
}
.article_set > .imgbox > img{
	display: block;
	width: 100%;
}
.article_set > .text {
	width: 60%;
	float: left;
	margin-left: 24px;
}
.article_set > .text > .subtitle{
	color: #CC3433;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}
.article_set > .text > .date{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	color: #616161;
}
.article_set > .text > h3{
	font-weight: 800;
	font-size: 22px;
	margin-top: 12px;
	margin-bottom: 12px;
	line-height: 40px;
}
.article_set > .text > .author{
	font-size: 12px;
	color: #616161;
	margin-bottom: 10px;
}
.article_set > .text > .content{
	clear: both;
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 16px;
}
.article_set .btn_line{
	text-align: right;
	margin-bottom: 16px;
}
.left span{
	width: 100%;
	height: 1px;
	background-color: #616161;
	display: block;
	position: absolute;
	top: 50%;
}
.left{
	float: left;
	width: 65%;
	margin-bottom: 56px;
}
.article_set.verticle{
	width: 33%;
	float: right;
	margin-left: 20px;
}
.imgbox.verticle{
	float: none;
	width: 71%;
	transform: translateX(25%);
	margin-bottom: 32px;
}
.text.verticle{
	float: none;
	width: 71%;
	transform: translateX(20%);
}
.line_verticle{
	width: 1px;
	height: 100%;
	margin-left: 16px;
	margin-right: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #616161;
}
.story{
	background-color: #F3F3F3;
	width: 90%;
	margin: 80px auto 0 auto; 
	padding-top: 60px;
	padding-bottom: 60px;
}
.story span{
	width: 90%;
	display: block;
	margin: 0 auto;
}
.story_group{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 56px;
}
.people_item{
	width: 20%;
	margin-right: 48px;
}
.people_item:last-child{
	margin-right: 0;
}
.people_item .date{
	margin-top: 40px;
	margin-bottom: 0;
}
.people_item > h3{
	font-size: 20px;
	font-weight: 800;
	line-height: 40px;
	margin-bottom: 24px;
}
.story_content{
	font-size: 18px;
	line-height: 36px;
}
.people_item .imgbox{
	width: 80%;
}
.people_item .imgbox img{
	width: 100%;
	display: block;
	margin-left: 10% ;
	margin-top: 10%;
}
.people_item .btn_line{
	text-align: right;
	margin-top: 16px;
}
footer{
	width: 90%;
	margin-bottom: 24px;
	margin: 0 auto;
}
.box{
	display: block;
	border: 1.5px solid #707070;
	width: 45%;
	height: 140px;
	margin: 24px auto 24px auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 32px;
	margin-top: 80px;
}
.box img{
	margin-right: 48px;
}
.box span{
	height: 50%;
	width: 1.5px;
	margin-right: 40px;
	background-color: #707070;
}
.box p{
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	color: #707070;
}
.main-container {
	float:left;
	position:relative;
	left:50%;
}
.footer_nav{
	float:left;
	position:relative;
	left:-50%;
}
.footer_nav > ul{
	list-style:none;
	margin: 0;
	padding:0;
	text-align: center;
}
.footer_nav > ul > p{
	color:#616161; 
	display: block;
	font-size: 18px;
	line-height: 40px;
	margin-right: 16px;
	margin-left: 16px;
	float: left;
}
.footer_nav > ul > li{
	text-decoration: none;
	margin-left: 24px;
	margin-right: 24px;
	float: left;
}
.footer_nav > ul > li > a{
	color:#616161; 
	display: block;
	font-size: 18px;
	line-height: 40px;
}
.footer_nav > ul > li > .follow_btn{
	border: 1px solid #CC3433;
	width: 88px;
	height: 40px;
	color: #CC3433;
	line-height: 40px;
	text-align: center;
	margin-left: 24px;
	margin-right: 10px;
}
.fb_icon{
	width: 32px;
	height: 32px;
	background-image: url("../img/fb_red.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 0;
}
.copyright {
	font-size: 12px;
	color: #616161;
	text-align: center;
	margin-top: 160px;
	margin-bottom: 40px;
}
.mobile_footer{
	display: none;
}
@media(max-width: 1230px){
	header >  nav {
		width: 20%;
	}
	header >  nav > ul {
		margin-top: 30%;
	}
	header > span {
		margin: 0 12px 0 59px;
	}
	section > .text > .cover {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 5%;
	}
	section > .text > .intro{
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 5%;
	}
	.Slabo_27px{
		font-size: 27px;
		margin-bottom: 60%;
	}
	.date{
		font-family: 微軟正黑體;
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 60%;
	}
	.left{
		width: 62%;
	}
	.article_set.verticle{
		width: 35%;
	}
	.story{
		width: 100%;
	}
	.box{
		width: 50%;
		height: 110px;
	}
	.box img{
		width: 80px;
		height: 50px;
		margin-right:21px;
	}
	.box p{
		font-size: 14px;
		line-height: 28px;
	}
	.footer_nav > ul > p{
		font-size: 14px;
		line-height: 32px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.footer_nav > ul > li{
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer_nav > ul > li > a{
		font-size: 14px;
		line-height: 32px;
	}
	.footer_nav > ul > li > .follow_btn{
		width: 78px;
		height: 32px;
		line-height: 32px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.fb_icon{
		width: 32px;
		height: 32px;
	}
}
@media(max-width: 1170px){
	section > .text > .cover {
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 5%;
	}
	section > .text > .intro{
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 5%;
	}
	.Slabo_27px{
		font-size: 27px;
		margin-bottom: 40%;
	}
	.date{
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 42%;
	}
	.btn_line > a{
		font-size: 12px;
	}
	.mag{
		height: auto;
	}
	.mag_cover{
		font-size: 15px;
		line-height: 30px;
	}
	.mag_intro {
		font-size: 14px;
		line-height: 28px;
	}
	.article_set > .text > .subtitle{
		font-size: 12px;
		margin-bottom: 0;
	}
	.article_set > .text > h3{
		font-size: 16px;
		line-height: 30px;
	}
	.article_set > .text > .author{
		font-size: 12px;
	}
	.article_set > .text > .content{
		font-size: 14px;
		line-height: 28px;
	}
	.article_set {
	    margin-top: 30px;
	}
	.left span {
	    top: 47%;
	}
	.people_item > h3 {
	    font-size: 16px;
	    line-height: 32px;
	    margin-bottom: 20px;
	}
	.story_content {
	    font-size: 14px;
	    line-height: 28px;
	}
}
@media(max-width: 980px){
	header{
		height: 222px;
	}
	header > span {
		height: 147px;
		margin: 0 12px 0 40px;
	}
	header >  nav {
		width: 15%;
	}
	header >  nav > ul {
		margin-top: 30%;
	}
	header > nav > ul > li > a{
		font-size: 12px;
		line-height: 28px;
	}
	header > .logo > h1 {
		width: 206px;
		height: 42px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 16px;
	}
	header > .logo > p {
		font-size: 12px;
	}
	.btn{
		width: 79px;
		height: 28px;	
		font-size: 12px;
		line-height: 28px;
		margin-top: 12px;
	}
	.btn_group{
		width: 10%;
		margin-left: 5%;
	}
	section > .text {
		width: 25%;
		padding-right: 16px;
		padding-left: 30px;
	}
	.btn_line > a{
		font-size: 14px;
	}
	section > .text > .cover {
		font-size: 14px;
		line-height: 32px;
		margin-bottom: 5%;
	}
	section > .text > .intro{
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 5%;
	}
	.Slabo_27px{
		font-size: 25px;
		margin-bottom: 32%;
	}
	.date{
		font-family: 微軟正黑體;
		font-size: 12px;
		line-height: 24px;
		margin-bottom: 32%;
	}
	.mag{
		height: auto;
	}
	.item{
		margin-right: 48px;
		width: 42%;
	}
	.item:nth-child(2){
		margin-right: 0;
	}
	.item.third{
		display: none;
	}
	.item span{
		margin: 8px auto 8px auto;
	}
	.mag > .item > .Slabo_27px {
		margin-bottom: 12px;
		margin-top: 12px;
	}
	.mag_cover{
		font-size: 16px;
		line-height: 32px;
		font-weight: 800;
		margin-bottom: 12px;
		margin-top: 12px;
	}
	.mag_intro {
		font-size: 14px;
		line-height: 28px;
		padding-bottom: 16px;
	}
	.article > h2{
		font-size: 20px;
	}
	.article_set > .text > .subtitle{
		font-size: 12px;
		margin-bottom: 0;
	}
	.article_set > .text > .date{
		margin-bottom: 6px;
	}
	.article_set > .text > h3{
		font-size: 16px;
		margin-top: 14px;
		margin-bottom: 14px;
		line-height: 30px;
	}
	.article_set > .text > .author{
		font-size: 12px;
	}
	.article_set > .text > .content{
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.article_set .btn_line{
		margin-bottom: 18px;
	}
	.left span{
		position: absolute;
		top: 105%;
		margin: 0 auto;
	}
	.left{
		float: none;
		width: 100%;
	}
	.article_set.third{
		display: none;
	}
	.story{
		width: 100%;
		margin: 32px auto 0 auto;
		padding-top: 32px;
	}
	.story h2{
		font-size: 20px;
		margin-bottom: 16px;
	}
	.people_item{
		width: 28%;
		margin-right: 28px;
	}
	.people_item:nth-child(3){
		margin-right: 0;
	}
	.people_item .date{
		margin-top: 8px;
	}
	.people_item > h3{
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 22px;
	}
	.story_content{
		font-size: 14px;
		line-height: 28px;
	}
	.story_group > .people_item.third{
		display: none;
	}
	.people_item .imgbox img{
		margin-left: 15% ;
		margin-top: 15%;
	}
	footer{
		width: 100%;
	}
	.box{
		width: 55%;
		height: 104px;
		margin-bottom: 28px;
		margin-top: 60px;
	}
	.box img{
		width: 80px;
		height: 50px;
		margin:0 26px 0 0;
	}
	.box span{
		width: 1px;
		margin-right: 20px;
	}
	.box p{
		font-size: 14px;
		line-height: 28px;
	}
	.footer_nav > ul > p{
		font-size: 14px;
		line-height: 28px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.footer_nav > ul > li{
		margin-left: 10px;
		margin-right: 10px;
	}
	.footer_nav > ul > li > a{
		font-size: 14px;
		line-height: 28px;
		font-family: 微軟正黑體;
	}
	.footer_nav > ul > li > .follow_btn{
		width: 73px;
		height: 28px;
		line-height: 28px;
		margin-left: 10px;
		margin-right: 10px;
		font-family: serif;
	}
	.fb_icon{
		width: 28px;
		height: 28px;
		margin-left: 10px;
	}
	.copyright {
		font-size: 10px;
		margin-top: 80px;
		margin-bottom: 18px;
	}
}
@media  (max-width: 768px) {
	header > span {
		height: 147px;
		margin: 0 12px 0 36px;
	}
	header >  nav > ul {
		margin-top: 35%;
	}
	header > nav > ul > li > a{
		font-size: 12px;
		line-height: 28px;
	}
	section > .text > .cover {
		font-size: 14px;
		line-height: 32px;
		margin-bottom: 5%;
	}
	section > .text > .intro{
		font-size: 12px;
		line-height: 24px;
		margin-bottom: 5%;
	}
	.Slabo_27px{
		font-size: 24px;
		margin-bottom: 26%;
	}
	.date{
		font-family: 微軟正黑體;
		font-size: 10px;
		line-height: 24px;
		margin-bottom: 26%;
	}
	.left span{
		position: absolute;
		top: 100%;
		margin: 0 auto;
	}
	.center{
		clear: both;
		display: block;
		margin: 0 auto 40px auto;
	}
	.center a{
		width: 79px;
		height: 28px;	
		display: block;	
		outline: 0;
		font-family: 微軟正黑體;
		text-align: center;
		font-size: 12px;
		line-height: 28px;
		margin: 30px auto 0 auto;
		background-color: #CC3433;
		color: #fff;
	}
}
@media(max-width: 700px){
	section{
		display: none;
	}
	.mobile_section{
		display: block;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.flex-container{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: flex-end;
	}
	.flex-container > a{
		width: 100%;
		display: block;
	}
	.flex-container > a > img{
		width: 100%;
		height: auto;
	}
	.flex-container > .text{
		display: block;
		text-align: left;
	}
	.text > span{
		width: 1px;
		height: 110px;
		background-color: #616161;
		float: right;
		margin: 0;
	}
	.text > .number{
		float: right;
		margin-top: 12px;
		margin-right: 40px;
		margin-left: 16px;
	}
	.text >  .word{
		float: right;
		width: 75%;
		margin-top: 27px;
	}
	.word > .btn_line{
		text-align: right;
	}
	.word > .btn_line > a{
		font-size: 14px;
		font-weight: 600;
		text-align: right;
	}
	.word > .cover {
		font-size: 14px;
		line-height: 28px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 10px;
		font-family:微軟正黑體; 
	}
	.word > .intro{
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 8px;
	}
	.Slabo_27px{
		font-size: 32px;
		margin-bottom: 16px;
	}
	.date{
		font-size: 12px;
		line-height: 24px;
		margin-bottom: 16px;
	}
}
@media(max-width: 720px){
	.box{
		width: 70%;
		height: 90px;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.box img{
		width: 70px;
		height: 40px;
		margin:0 16px 0 16px;
	}
	.box span{
		width: 1px;
		margin-right: 16px;
	}
	.box p{
		font-size: 12px;
		line-height: 20px;
	}
}
@media(max-width: 594px){
	.article_set .imgbox{
		float: left;
		margin-right: 18px;
		margin-bottom: 16px;
	}
	.article_set>.text{
		float: none;
		width: 98%;
		margin-left: 0;
	}
	.article_set>.text > h3{
		line-height: 28px;
	}
	.left span {
	    position: absolute;
	    top: 50%;
	    margin: 0 auto;
	}
	.box{
		width: 70%;
		height: 90px;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.box img{
		width: 70px;
		height: 40px;
		margin:0 16px 0 16px;
	}
	.box span{
		width: 1px;
		margin-right: 16px;
	}
	.box p{
		font-size: 12px;
		line-height: 20px;
	}
	.footer_nav{
		display: none;
	}
	.mobile_footer{
		display: block;
		width: 100%;
	}
	.mobile_footer_nav> ul{
		display: block;
		list-style: none;
		margin: 0 auto 20px auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
	}
	.mobile_footer_nav> ul > li{
		float: left;
	}
	.mobile_footer_nav> ul > li >a{
		display: block;
		font-size: 14px;
		line-height: 28px;
		color: #616161;
		font-family: 微軟正黑體;
	}
	.mobile_footer_nav> ul >p{
		font-size: 14px;
		line-height: 28px;
		color: #616161;
		float: left;
		margin: 0 16px 0 16px;
	}
	.footer_icon{
		clear: both;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	.footer_icon .follow_btn{
		display: block;
		border: 1px solid #CC3433;
		width: 60px;
		height: 28px;
		color: #CC3433;
		font-size: 12px;
		font-family: 微軟正黑體;
		line-height: 28px;
		text-align: center;
		margin-right: 16px;
	}
	.footer_icon .fb_icon{
		display: block;
		width: 28px;
		height: 28px;
		background-image: url("../img/fb_red.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.copyright{
		clear: both;
		text-align: center;
		margin-top: 30px;
	}
}
@media(max-width: 480px){
	header{
		height: 100px;
		margin-bottom: 16px;
	}
	header >  nav {
		width: auto;
	}
	header > .logo{
		position:absolute;
		bottom: 0; 
		right: 0;
		margin: 0;
		width: 200px;
		height: 40px;
	}
	header > .logo > h1 {
		max-width: 100%;
		margin-bottom: 8px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	header > .logo > p {
		display: none;
	}
	header > nav > ul {
		display: none;
	}
	.btn_group{
		display: none;
	}
	header > span {
		height: 50%;
		margin-left: 0;
	}
	.menu-toggle{
		display: block;
		width: 28px;
		height: 36px;
		margin-top:8px; 
		padding-top: 16px;
	}
	.menu-toggle span{
		display: block;
		width: 100%;
		height: 1px;
		background-color: #616161;
		margin-top: 0px;
		margin-bottom: 8px;
	}
	.popup{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #2d2d2d;
		opacity: 0;
		visibility: hidden;
		z-index: 100;
		padding: 32px 20px 32px 20px;
	}
	#pop:target{
		opacity: 0.95;
		visibility: visible;
	}
	.pop_close{
		display: block;
		width: 28px;
		height: 28px;
	}
	.pop_close > span{
		display: block;
		background-color: #fff;
		width: 100%;
		height: 1px;
		margin: 0;
	}
	.pop_close span:nth-child(1){
		transform: rotate(45deg);
	}
	.pop_close span:nth-child(2){
		transform: rotate(-45deg);
	}
	.line_ver{
		background-color: #fff;
		width: 1px;
		height: 210px;
		margin: 55px 36px 16px 36px; 
		float: left;
	}
	.popup > ul{
		list-style: none;
		float: left;
		margin-top: 28px;
		margin-bottom: 16px;
	}
	.popup > ul > li >a{
		display: block;
		font-size: 18px;
		line-height: 36px;
		color: #fff;
		font-family: 微軟正黑體;
		margin-bottom: 24px;
		margin-top: 24px;
	}
	.popup_btn_group{
		display: block;
		width: 100%;
		clear: both;
		margin: 0 auto;
	}
	.popup_btn_group > a{
		display: block;
	}
	.popup_btn_group >.btn_red{
		display: inline-block;
		width: 120px;
		height: 40px;	
		outline: 0;
		font-family: 微軟正黑體;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		background-color: #CC3433;
		color: #fff;
		margin:0 36px 16px 36px;
	}
	.popup_btn_group >.btn_white{
		display: inline-block;
		width: 120px;
		height: 40px;	
		outline: 0;
		font-family: 微軟正黑體;
		text-align: center;
		font-size: 16px;
		line-height: 40px;
		background-color: #fff;
		color: #CC3433;
		border: 1px solid #CC3433;
		margin:0 36px 16px 36px;
	}
	.popup_icon_group{
		display: flex;
		flex-direction: row;
		margin-top: 24px;
		margin-left: 36px;
	}
	.follow_btn{
		clear: both;
		display: block;
		border: 1px solid #FFF;
		width: 80px;
		height: 30px;
		color: #fff;
		font-family: 微軟正黑體;
		line-height: 30px;
		text-align: center;
		margin-right: 16px;
	}
	.fb_icon{
		width: 30px;
		height: 30px;
		background-image: url("../img/facebook_white.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-right: 0;
	}
	.mag{
		display: block;
		width: 100%;
		height: auto;
		background-color: #F5F8E9;
		margin-top: 56px;
		margin-bottom: 32px;
		padding-top: 48px;
		padding-bottom: 48px;
	}
	.item{
		margin:0 auto;
		width: 70%;
	}
	.item:nth-child(2){
		margin: 0 auto;
	}
	.item span {
	    margin: 20px auto 20px auto;
	}
	.article_set .imgbox{
		float: left;
		margin-right: 18px;
	}
	.article_set>.text{
		float: none;
		width: 98%;
		margin-left: 0;
	}
	.article_set>.text > h3{
		line-height: 28px;
	}
	.left span {
	    position: absolute;
	    top: 50%;
	    margin: 0 auto;
	}
	.story_group{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
	.story_group > .people_item.third{
		display: block;
		margin-right: 0;
	}
	.people_item{
		width: 40%;
		margin-right: 32px;
		margin-top: 20px;
	}
	.people_item:nth-child(2){
		margin-right: 0;
	}
	.people_item:nth-child(3){
		margin-right: 32px;
	}

	.people_item .date{
		margin-top: 8px;
	}
	.people_item > h3{
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 16px;
	}
	.story_content{
		font-size: 14px;
		line-height: 26px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:4;
		-webkit-box-orient: vertical;
	}
	
	.people_item .imgbox{
		width: 90%;
		margin: 18px auto 40px auto;
	}
	.people_item .imgbox img{
		margin: 0;
	}
	.box{
		width: 85%;
		height: 90px;
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.box img{
		width: 70px;
		height: 40px;
		margin:0 16px 0 16px;
	}
	.box span{
		width: 1px;
		margin-right: 16px;
	}
	.box p{
		font-size: 12px;
		line-height: 20px;
	}
	.footer_nav{
		display: none;
	}
	.mobile_footer{
		display: block;
		width: 100%;
	}
	.mobile_footer_nav{

	}
	.mobile_footer_nav> ul{
		display: block;
		list-style: none;
		margin: 0 auto 20px auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
	}
	.mobile_footer_nav> ul > li{
		float: left;
	}
	.mobile_footer_nav> ul > li >a{
		display: block;
		font-size: 12px;
		line-height: 24px;
		color: #616161;
		font-family: 微軟正黑體;
	}
	.mobile_footer_nav> ul >p{
		font-size: 12px;
		line-height: 24px;
		color: #616161;
		float: left;
		margin: 0 8px 0 8px;
	}
	.footer_icon{
		clear: both;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 30px;
	}
	.footer_icon .follow_btn{
		display: block;
		border: 1px solid #CC3433;
		width: 60px;
		height: 25px;
		color: #CC3433;
		font-size: 12px;
		font-family: 微軟正黑體;
		line-height: 25px;
		text-align: center;
		margin-right: 16px;
	}
	.footer_icon .fb_icon{
		display: block;
		width: 25px;
		height: 25px;
		background-image: url("../img/fb_red.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.copyright{
		clear: both;
		text-align: center;
		margin-top: 30px;
	}
}
@media(max-width: 440px){
	.text >  .word{
		width: 70%;
		margin-top: 20px;
	}
}
@media(max-width: 375px){
	.mobile_section{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.text >  .word{
		width: 70%;
		margin-top: 20px;
	}
	.word > .intro{
		font-size: 13px;
		line-height: 26px;
	}
	.Slabo_27px{
		font-size: 24px;
		margin-bottom: 12px;
	}
	.date{
		font-size: 12px;
		line-height: 20px;
	}
	.mag_intro {
	    font-size: 13px;
	    line-height: 26px;
	}
	.article_set > .text > .content {
	    font-size: 13px;
	    line-height: 26px;
	    margin-bottom: 20px;
	}
	.story_content {
	    font-size: 13px;
	    line-height: 26px;
	}
}
@media(max-width: 350px){
	.text >  .word{
		width: 62%;
		margin-top: 20px;
	}
}